.carousel__title {
    background-color: var(--white);
    color: var(--orange);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em 0 0.5em;
}

/*--- SWIPER */
.swiper-slide img {
    width: 100%;
    cursor: pointer;
}

.swiper-button-prev,
.swiper-button-next {
    /* swiper buttons will not be displayed in the mobile version */
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0 .8em;
}

/*--- CARD */
.card {
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__description,
.card__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__description {
    margin-bottom: 0.5em;
    gap: 0.5em;
}

.card__description .description__stars {
    margin-bottom: 0.5em;
}

.card__description .description__title {
    font-weight: 700;
    color: var(--orange);
}

.card__description .description__book-title {
    font-size: 18px;
    font-weight: 700;
    color: var(--blue);
    margin: 0.5em 0;
}

.card__description .description__text {
    font-size: 14px;
}

.card__buttons .buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.card__buttons .buttons__anchor {
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
    background-color: var(--orange);
    padding: 1em 1.7em;
}

@media screen and (min-width: 1024px) {
    .carousel__title {
        font-size: 26px;
    }

    .swiper {
        width: 70%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .swiper-pagination {
        margin: 1em 0 3em;
    }

    .card {
        width: 50%;
        margin: 4em auto;
    }

    .card__description {
        align-items: flex-start;
        padding: 1em 0;
    }
}

@media screen and (min-width: 1728px) {
    .carousel__container {
        display: flex;
        margin: 3em 12vw 5em;
        align-items: center;
        gap: 3em;
    }

    .swiper {
        width: 50%;
    }

    .card {
        margin: 6em auto 1em;
        width: 45%
    }

    .card__description {
        gap: 4em;
        padding: 0 0 1em;
    }

    .description__title {
        font-size: 32px;
        line-height: 1.5em;
    }

    .description__text {
        font-size: 16px;
    }
}