.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* to adjust position of menu-list */
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    height: 80px;
}

.container__icon {
    padding: 0 .6em;
}

/* HAMBURGER MENU */
.header__hamburger-menu {
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 48px;
    height: 48px;
}

/* change the hamburger-menu icon when the user clicks on it */
.container__button:checked~.container__label>.header__hamburger-menu {
    background-image: url('../img/MenuAberto.png');
}

/* also change the background color, since the new icon is white */
.container__button:checked~.container__label {
    background: var(--gradient-blue);
}

.menu-list {
    display: none;
    position: absolute;
    top: 100%;
    /* negative left to adjust padding applied to parent */
    left: -1em;
    background-color: var(--white);
    width: 70vw;
    padding-left: 1em;
}

/* show side menu when the user clicks in the hamburger-menu icon */
.container__button:checked~.menu-list {
    display: block;
}

@keyframes slideOpen {
    0% {
        width: 0;
    }

    100% {
        width: 70vw;
    }
}

.menu-list__title,
.menu-list__item {
    padding: 1em;
}

.menu-list__title {
    color: var(--orange);
    font-weight: 700;
}

.menu-list__link {
    /* setting gradient to text */
    background: var(--gradient-blue);
    background-clip: text;

    /* CSS fix for some browsers */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ELEMENTS NOT DISPLAYED ON MOBILE */
.container__title,
.container__button,
.nav-options,
.container__text {
    display: none;
}

/* STYLES FOR TABLETS  */
@media screen and (min-width: 1024px) {

    /* ELEMENTS NOT DISPLAYED ON TABLETS */
    .header__hamburger-menu,
    .container__icon--visible {
        display: none;
    }

    .header {
        justify-content: space-around;
    }

    .container__title {
        display: block;
        font-family: var(--secondary-font), sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: var(--black);
        margin: 0.5em 0 0 0.3em;
    }

    .container__title--bold {
        font-weight: 700;
    }

    .nav-options {
        display: flex;
        gap: 2em;
        position: relative;
    }

    .options__button {
        display: none;
    }

    /* show sub-menu when the user clicks on the button */
    .options__button:checked~.menu-list {
        display: block;
        width: auto;
        padding: 0;
    }

    /* also change the background of the button clicked */
    .options__button:checked~.options__label>.options__item {
        background: var(--gradient-blue);
        color: var(--white);
    }

    .options__item {
        text-transform: uppercase;
        cursor: pointer;
        padding: 1em 0.5em;
    }

    .options__link {
        color: var(--black);
        text-decoration: none;
        padding: 1em 0.5em;
    }

    .options__link:hover {
        color: var(--white);
    }

    .options__item:hover,
    .menu-list__item:hover {
        background: var(--gradient-blue);
        color: var(--white);
    }

    .menu-list__item {
        padding: 1em 2em;
        cursor: pointer;
    }

    .menu-list__link {
        text-decoration: none;
    }

    .menu-list__item:hover>.menu-list__link {
        -webkit-text-fill-color: var(--white);
    }

}

/* STYLES FOR LARGER SCREENS */
@media screen and (min-width: 1728px){
    header {
        padding: 0 2em;
    }
    .nav-options{
        /* in a flex item, setting one of the margins as auto will take up all the available space and 
        put it in the specified margin (canceling any justify-content set to the flex container) */
        margin: 0 auto 0 1.5em;
    }

    .container__anchor {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-left: 2em;
    }

    .container__text {
        display: block;
        font-size: 20px;
        color: var(--black);        
    }

}